

<tr>
<td colspan="7" height="190" background="../images/header.jpg"></td>
</tr>

<tr>

<td height="35" width="89" bgcolor="black"></td>
<td width="146"><a href="../"><img src="../images/menu1.jpg" onmouseover="this.src='../images/menu1_over.jpg'"  onmouseout="this.src='../images/menu1.jpg'" border="0"></td>
<td width="153"><img src="../images/menu2.jpg" onmouseover="this.src='../images/menu2_over.jpg'"  onmouseout="this.src='../images/menu2.jpg'" border="0"></td>
<td width="213"><a href="../posts"><img src="../images/menu3.jpg" onmouseover="this.src='../images/menu3_over.jpg'"  onmouseout="this.src='../images/menu3.jpg'" border="0"></td>
<td width="148"><img src="../images/menu4.jpg" onmouseover="this.src='../images/menu4_over.jpg'"  onmouseout="this.src='../images/menu4.jpg'" border="0"></td>
<td width="131"><img src="../images/menu5.jpg" onmouseover="this.src='../images/menu5_over.jpg'"  onmouseout="this.src='../images/menu5.jpg'" border="0"></td>
<td width="144" bgcolor="black"></td>

</tr>
