<!DOCTYPE html>

<html>
  <head>
    <% include partials/head %>
    <link rel = "stylesheet" type="text/css" href = "master.css">
  </head>

  <body leftmargin="0" topmargin="0">

<table align="center" width="1024" border="0" cellspacing="0" cellpadding="0">

  <header>
    <% include partials/header %>
  </header>

  <contents>
    <% include partials/contents %>
  </contents>

  <footer>
    <% include partials/footer %>
  </footer>

</table>

</html>
